<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.project2.mymovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MoviesTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.project2.mymovies.activities.MainActivity" />
        </activity>

        <provider
            android:name=".database.generated.MoviesProvider"
            android:authorities="com.udacity.project2.popularmovie"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".activities.AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.project2.mymovies.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.SplashScreen"></activity>
    </application>

</manifest>